{% extends "base.html" %}

{% block maincontent %}
<div>
    <img id = "quizLogo" src="https://media.istockphoto.com/vectors/quiz-logo-in-comic-style-quiz-brainy-game-vector-vector-id1301624176?k=20&m=1301624176&s=170667a&w=0&h=y9Q4x857Nzj3cjSC1L3WNKdbOhYyYWU_Fhkqhxm_PXo=">
    <!-- Quiz App Logo image -->
</div>
<h3 style="text-align: center;">Quiz Revision App</h3>
<p>Welcome to my quiz app.</p>
<div class="row">
    <div class="col-md-6">As a student you can:
        <ul>
            <li>Choose a subject to study</li>
            <li>Review ready-made condensed notes separated by topic</li>
            <li>Generate quizzes for revision</li>
            <li>Analyse and review previous quizzes</li>
        </ul>
    </div>
    <div class="col-md-6"> As a teacher you can:
        <ul>
            <li>Create a class to join students</li>
            <li>Set quizzes to specific classes</li>
            <li>Track student scores</li>
        </ul>
    </div>
</div>
{% endblock %}