{% extends "base.html" %}

{% block maincontent %}
<h3>Login<small class="text-muted"> Please fill up necessary fields to login to your account.</small></h3>

<!-- Form which only asks for email and password -->
<!-- Required at the end of each input means that the form can not be submitted blank for validation -->
<form action="" class="row g-3" method="post" id="login">
    <div class="col-md-12">
        <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
        <input type="email" class="form-control" name="email" id="email" required>
        <div class="invalid-feedback">Please enter email.</div>
    </div>
    <div class="col-md-12">
        <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
        <input type="password" class="form-control" name="password" id="password" required>
        <div class="invalid-feedback">Please enter a password.</div>
    </div>
    <div class="col-md-12">
        <input type="hidden" name="form" value="login">
        <input type="submit" value="Login" class="btn btn-info">
    </div>
</form>
{% endblock %}